.container {
    padding: 20px;
}
.title-box {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #ff8313;
    text-shadow: 1px 1px 5px #ff9941;
}
@media (max-width: 768px) {
    .title-box{
        font-size: 30px;
    }
}
.box {
   max-width: 100%;
    height: 120px;
    box-shadow: 1px 1px 10px #afafaf;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,242,174);
    background: linear-gradient(45deg, rgb(255, 243, 195) 22%, rgb(255, 224, 190) 62%);
}
.box:hover {
    transform: scale(1.05);
}
.mb-5 {
    position: relative;
    width: 80px;
    left: 5%;
}






/* Стилове за модалния прозорец */
.fancy-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.3); /* светло сив фон с прозрачност */
    backdrop-filter: blur(5px); /* blur ефект на фона */
    padding-top: 60px;
}

.fancy-modal-content {
    box-shadow: 1px 1px 10px #ffbd80;
    margin: auto;
    display: flex;
    max-width: 700px;
    height: 100%;
    max-height: 550px;
    border-radius: 20px;
}
.modal-image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.fancy-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
@media (max-width: 768px) {
    .fancy-modal-content {
        margin: 20px;
        width: 90%;
        height: 80%;
        max-height: 420px;
        border-radius: 20px;
    }

}